@function pxToRem($px){
    @return $px / 37.5 * 1rem;   
}
@mixin textflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
$elemeBlue : #0af;
$bgImage : linear-gradient(90deg,#0085ff,#0af);